* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
 ;
  
}
.bgimage {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5aecc44d-2a1f-4313-8399-98df20908b64/fe31c644-e74d-4c93-8db1-8c0c670226d2/SA-en-20221114-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  height: 100vh;
  width: 100vw;
  border-bottom: 8px solid grey;

}

.container {
  background-color: rgba(0, 0, 0, 0.615);
   height: 100vh;
  width: 100vw;

}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "netflix  langselect";
  padding: 20px;
}

.netflix {
  grid-area: netflix;
  color: Red;
text-transform: uppercase;
font-size: 32px;
font-weight: bold;
font-style: oblique;

}

.langselect {
  grid-area: langselect;
  justify-self: right;
  width: fit-content;
}

select  {
  width: 80px;
  height: 40px;
  background-color: transparent;
  color: white;
}

option{
  background-color: black;
}

.navigation button  {
  background-color: red;
  width: 80px;
  height: 40px;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 3px;
}

.header {
  text-align: center;
  padding: 20px;
  width: 100;

}

.header h1 {
  font-size: 55px;

}

.header p {
  font-size: 30px;
  font-weight: 400;
}

.header .subheading2 {
font-size: 20px;
font-weight: 300;
}

.emaillink {
  display: flex;
  justify-content: center;
}

.header input {
  width: 400px;
  height: 40px;
  margin: 0;
  padding: 0;
  outline: none;
  white-space: nowrap;
}
  .header button{
  width: 200px;
  height: 40px;
  background-color: red;
  color: white;
  margin: 0;
  border: none;
  white-space: nowrap;
}

.main-content, .main-contentthree {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "head image";
  align-content: center;
  justify-content: center;
  height: 400px;
  border-bottom: 8px solid grey;
  
}

.main-contenttwo, .main-contentfour {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "image head";
  align-content: center;
  justify-content: center;
  height: 400px;
  border-bottom: 8px solid grey;
  
}

.mainone-text, .maintwo-text, .mainthree-text {
  grid-area: head;
  padding :0 20px; 
  justify-content: right;
  margin-top:auto;
  margin-left: 20px;  
  margin-right: 100px;
}


.main-image, .main-image2 .main-image3
{grid-area: image;
}

img {
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
}

.mainone-text h1, .maintwo-text h1
{
font-size: 55px;
}
.mainone-text p, .maintwo-text p 
{
font-size: 30px;
}

.mainfive-head {
  text-align: center;
  font-size: 47px;
}

.mainfive {
   border-bottom: 8px solid grey;
  margin-bottom: 30px;
}

.mainfive-text  {
  width: 50%;
  margin: auto;
 
}
.mainfive .div {
  width: 100%;
  height: 70px;
  background-color: rgb(48, 47, 47);
  color: white;
  padding: 0;
}
.div p {
  position: relative;
  top: 35%;margin-left: 20px;

}
.divcontent, .show {
  display: none;
}
.mainfive input {
  width: 70%;
  height: 60px;
  margin: 0;
  padding: 0;
} .mainfive button{
  width: 20%;
  height: 60px;
  background-color: red;
  color: white;
  margin-bottom: 40px;
}

.footercontainer{
  padding: 20px 80px;
  color: rgb(127, 125, 125);
}

.linkscontainer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.links {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  margin: 0px;
}

.links a {
  text-decoration: none;
  color: rgb(127, 125, 125);
  font-size: 14px;
}

.biglink  select { border: none; 
  width: 200px; 
  height: 50px;
}
.selectoption {
  width: 200px;
  text-decoration: none;
  display:inline;
  height: 50px;
}
.biglink {
  height: 50px;
  width: 250px;
  padding: 0 10px;
  color: rgb(127, 125, 125);
  border: 1px solid ;
}

.fa-solid {
color:white;
}


