.container{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 10px;
    padding-left: 50px;
}

.card-color{
    color: rgb(255, 255, 255);
    text-align: center;
}

td{
    width: 50px;
    padding: 1px;
}

.font-weight{
 font-weight: bold ;
 width: 200px;
}

body{
    font-family:Arial, Helvetica, sans-serif
}

img {
    border-radius: 50%; 
    width: 120px;
    margin: 0 150px;
}
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;

}
